/Dungna29_Tutorial_CSharp4V1/Bai_EF2__Entity_Framework_Core_DB_First/bin
/Dungna29_Tutorial_CSharp4V1/Bai_EF1__Entity_Framework_Core_Code_First/bin
/Dungna29_Tutorial_CSharp4V1/Dungna29_ShoppingCart/bin
