@using Bai_7_Controller_Action_Routing.Models

@{
    Layout = null;
    var giaovien = ViewData["GiaoVien"] as GiaoVien;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
    <h1>View Data: @ViewData["Key Dungna"]</h1>
    <h1>View Bag: @ViewBag.DungnaPoly?</h1>
</head>
<body>
</body>
</html>
