
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dungna29 C#4</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Style the header */
        .header {
            background-color: #f1f1f1;
            padding: 30px;
            text-align: center;
            font-size: 35px;
        }

        /* Create three equal columns that floats next to each other */
        .column {
            float: left;
            width: 33.33%;
            padding: 10px;
            height: 300px; /* Should be removed. Only for demonstration */
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Style the footer */
        .footer {
            background-color: #f1f1f1;
            padding: 10px;
            text-align: center;
        }
        
    </style>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    @RenderSection("Header",false)
</head>
<body>

<h2>FPT POLYTECHNIC C#4 Dungna29</h2>

<div class="header">
    <h2>Header</h2>
</div>

<div class="row">
    <h2>Body Content</h2>
   @RenderBody()
</div>

<div class="footer">
    @RenderSection("Footer", false)
    <p>Footer</p>
</div>

</body>
</html>

