@model BAI_1_0_TaoDuAnMVC.Models.Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Chào các bạn đây là view của Controller Home với Action Method Index</h1>
    <hr />
    <h1>@Model.Name</h1>
    <h1>@Model.Des</h1>
</body>
</html>
