@model Bai_9_LamViecVoiForm.Models.ProductEditModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
<form action="/Product/Create" method="post">
    @* for dùng taghelper sẻ dự động gán vào các trường của Model
        Nhớ phải import model ở trên*@
    <label for="Name">Name</label>
    <input type="text" name="Name"/>
    <label for="Rate">Rate</label>
    <input type="text" name="Rate"/>
    <label for="Rating">Rating</label>
    <input type="text" name="Rating"/>
    
    <input type="submit" name="Thêm mới"/>
    
</form>
</body>
</html>
