
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @* Khi gọi href đến controller sẽ gọi vào HttpGet*@
    <a href="/Product/Create">Thêm mới sản phẩm</a>
</body>
</html>
