@model Bai_7_Controller_Action_Routing.Models.TestModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<h2>Xin chào đây là Index Home</h2><br/>
<h2>@Model.Message</h2>
</body>
</html>
