@model Bai_6_MVCWebApp.Models.SinhVienUDPM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <h1>Chào các bạn POLY đây là VIEW</h1>
    <h1>@Model.tenSv</h1>
    <h1>@Model.des</h1>   

</head>
<body>
</body>
</html>
